<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
  <label for="title">Enter title of the book: </label>
  <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
  <input type="text" th:field="*{title}" id="title"/>
  <br/>
  <label for="author">Enter author: </label>
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</div>
  <input type="text" th:field="*{author}" id="author"/>
  <br/>
  <label for="year">Enter year: </label>
  <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error</div>
  <input type="text" th:field="*{year}" id="year"/>
  <br/>
  <input type="submit" value="Create book"/>
</form>

</body>
</html>